<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <h1 class="mb-3">List of countries</h1>
    <form [formGroup]="filterForm">
      <input
        formControlName="search"
        type="text"
        class="form-control mb-3"
        placeholder="Search Country"
      />
    </form>
    <div class="vh-max-70 vh-70 overflow-auto">
      <div
        *ngIf="countries.length === 0"
        class="vh-70 d-flex justify-content-center align-items-center"
      >
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div
        *ngFor="let country of countries | search: search.value"
        class="mb-3"
      >
        <app-country-card [country]="country"></app-country-card>
      </div>
    </div>
  </div>
</div>
